
@{
    ViewBag.Title = "Index";
}

<h2>Hi Administartor</h2>
<h3>Manage:</h3>
<div class="row">
    <ul>
        <li>@Html.ActionLink("Categories", "Index", "ManageCategories", new { area = "Administration" }, null)</li>
        <li>@Html.ActionLink("Exercises", "Index", "ManageExercises", new { area = "Administration" }, null)</li>
        <li>@Html.ActionLink("Check Feedbacks", "Index", "FeedbacksCheck", new { area = "Administration" }, null)</li>
        <li>@Html.ActionLink("Users", "Index", "ManageUsers", new { area = "Administration" }, null)</li>
        <li>@Html.ActionLink("Videos", "Index", "ManageVideos", new { area = "Administration" }, null)</li>
    </ul>
</div>

