extends ../shared/layout
block main-content
    .jumbotron.text-center
        .row
            .col-md-4
                h1 #{game.redPlayer}
                img(src=redPlayer.img class="game-field-imgs")
            .col-md-4
                img(src="/img/redX.jpg" class="field-symbols")
                span(style="font-size: 30px") VS
                img(src="/img/blackO.jpg" class="field-symbols")
            .col-md-4
                h1 #{game.blackPlayer}
                img(src=blackPlayer.img class="game-field-imgs")
        .row
            if(game.gameState === 'RedInTurn')
                h1 #{game.gameState}: #{game.redPlayer}  
            else if(game.gameState === 'BlackInTurn')
                h1 #{game.gameState}: #{game.blackPlayer}
            else if(game.gameState === 'WonByRed')
                h1 #{game.gameState}: #{game.redPlayer}
            else if(game.gameState === 'WonByBlack')
                h1 #{game.gameState}: #{game.blackPlayer}
            else
                h1 NotFinished: Tie  
        .row
            .col-md-12
                table(id="game-field")
                    each row in [1, 2, 3]
                        tr
                            each col in [1, 2, 3]
                                td

                                    if(game.field[((row - 1)*3) + col - 1] === '-')
                                        if(game.gameState != 'WonByRed' && game.gameState != 'WonByBlack')
                                            form(method="post")
                                                input(type="textbox" name="index" value="" + row + col style="display: none") 
                                                input(type="submit" id="field-btn" value="")
                                    else if(game.field[((row - 1)*3) + col - 1] === 'X')
                                        img(src="/img/redX.jpg" class="field-symbols")
                                    else if(game.field[((row - 1)*3) + col - 1] === 'O')
                                        img(src="/img/blackO.jpg" class="field-symbols")
