<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FitnessSystem</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/custom")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Fitness System", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                    @*<li>@Html.ActionLink("Articles", "Index", "Articles", new { area = string.Empty }, null)</li>*@
                    <li>@Html.ActionLink("Exercises", "Index", "Exercises", new { area = string.Empty }, null)</li>
                    @*<li>@Html.ActionLink("Videos", "Index", "Videos", new { area = string.Empty }, null)</li>*@
                    <li>@Html.ActionLink("About us", "About", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact", new { area = string.Empty }, null)</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = string.Empty }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_AdministrationPartial")
                
            </div>
        </div>
    </div>
    @if(this.TempData["notification"] != null)
    {
        <div class="alert alert-info" role="alert">@this.TempData["notification"]</div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FitnessSystem</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
