
@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <h2>Contact</h2>
</div>
<div class="row">If you want to contact us, you can send an email to: <span class="text-primary">fitnessSystem@gmail.com</span></div>
<div class="row">Or you can use the feedback form:</div>

@using (Html.BeginForm("Feedback", "Contact", new { area = string.Empty }, FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="input-field">
            @*@Html.LabelFor(m => m.NewIdea.Title)
            @Html.EditorFor(m => m.NewIdea.Title)
            @Html.ValidationMessageFor(m => m.NewIdea.Title)*@
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            @*@Html.LabelFor(m => m.NewIdea.Description)
            @Html.EditorFor(m => m.NewIdea.Description)
            @Html.ValidationMessageFor(m => m.NewIdea.Description)*@
        </div>
    </div>
    <div class="row">
        <div class="center">
            <input type="submit" value="Send" class="btn" />
        </div>
    </div>
}