@model FitnessSystem.Web.ViewModels.Feedbacks.FeedbackCreateViewModel
@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <h2>Contact</h2>
</div>
<div class="row">If you want to contact us, you can send an email to: <span class="text-primary">fitnessSystem@gmail.com</span></div>
<div class="row">Or you can use the feedback form:</div>

@using (Html.BeginForm("Feedback", "Contact", new { area = string.Empty }, FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="input-field">
            @Html.LabelFor(m => m.Title)
            @Html.EditorFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="input-field">
            @Html.LabelFor(m => m.Content)
            <br />
            @Html.EditorFor(m => m.Content)
            @Html.ValidationMessageFor(m => m.Content)
        </div>
    </div>
    <div class="row">
        <div class="center">
            <input type="submit" value="Send" class="btn btn-primary" />
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
