
@model  FitnessSystem.Web.ViewModels.Exercises.ExerciseAndNewCommentViewModel

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="input-field" id="text-comment">
                @Html.EditorFor(m => m.NewComment.Content)
                @Html.ValidationMessageFor(m => m.NewComment.Content)
            </div>
        </div>
        <div class="row">
            <div class="btn btn-primary" data-action="add-comment">Add Comment</div>
        </div>
        <br />
    }
}
<script>
    $("div[data-action='add-comment']").click(function () {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var id = @this.ViewData["exId"];
        var commentContent = $('#NewComment_Content').val();
        var data = {
            __RequestVerificationToken: token,
            exId: id, content: commentContent
        }
        $.ajax({
            url: '/Comments/Comment/',
            type: 'POST',
            data: data,
            success: function (data) {
                var newComment = data.Content;
                var author = data.author;
                $("#addCommentHere").append("<div class='row'><div class='row'>" + newComment + "</div><i>by: </i><strong>"+ author + "</strong></div><br \>");
                $("#NewComment_Content").val("");
            },
            error: function err(data) { alert('cannot send empty comments'); }
        });
    });
</script>
@Scripts.Render("~/bundles/jqueryval")