@{
    ViewBag.Title = "Create";
}

<h3>Create a new exercise:</h3>

@using (Html.BeginForm("Create", "Exercises", new { area = string.Empty }, FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="input-field">
            @*@Html.LabelFor(m => m.NewIdea.Title)
            @Html.EditorFor(m => m.NewIdea.Title)
            @Html.ValidationMessageFor(m => m.NewIdea.Title)*@
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            @*@Html.LabelFor(m => m.NewIdea.Description)
            @Html.EditorFor(m => m.NewIdea.Description)
            @Html.ValidationMessageFor(m => m.NewIdea.Description)*@
        </div>
    </div>
    <div class="row">
        <div class="center">
            <input type="submit" value="Create" class="btn" />
        </div>
    </div>
}