@model  IEnumerable<FitnessSystem.Web.ViewModels.Exercises.ExerciseLinkModel>
@{
    ViewBag.Title = "Home Page";
}
<h3>My Exercises</h3>
<div class="row">
    @foreach (var exercise in Model)
    {
        <div class="row">
            <h4><a href="~/Exercises/Details/@exercise.Id">@exercise.Title</a></h4>
        </div>
        <div class="row">
            <i>rating: </i><strong class="text-danger">@exercise.Votes</strong>
            <i>category: </i><strong><a href="~/Categories/Details/@exercise.CategoryId">@exercise.Category</a></strong>
            <i>added: </i><strong>@exercise.CreatedOn</strong>
        </div>
        <br />
    }
</div>
<div>@Html.ActionLink("Create New", "CreateNew", "Exercises", new { area = string.Empty }, new{@class = "btn btn-primary"})</div>
