@using System.Collections
@using System.Linq.Expressions
@using TwitterLikeSystem.Models
@using TwitterLikeSystem.Controllers
@model IEnumerable<TwitterLikeSystem.Models.Tweet>

@{
    ViewBag.Title = "Index";
}

<div class="card-panel">
    <h2 class="center">Tweets</h2>

    @Html.ActionLink("Create New", "Create")
    <div class="row">
        <div class="col-sm-10">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Content</th>
                        @*<th>author</th>*@
                        <th>tag</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Content</td>
                            @*<td>@item.User.Email</td>*@
                            <td class="center">
                                @foreach (var tag in item.Tags)
                                {
                                    @tag.Name
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) /
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>